@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 95%;
  margin: 0 auto;
}

/* ------------------------- Header ------------------------- */
.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}
.top-header-icon {
  font-size: 40px;
  color: cornflowerblue;
}
.user-img {
  position: relative;
}
.user-img img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.active-status {
  height: 10px;
  width: 10px;
  background-color: rgb(18, 227, 25);
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 8px;
}

/* ------------------------- Dashboard ------------------------- */
.dashboard {
  background-color: rgb(37, 147, 237);
  text-align: center;
  padding: 40px 0;
  position: relative;
}
.dashboard p {
  margin-bottom: 25px;
  color: white;
}
.dashboard-nav-item {
  display: flex;
  justify-content: center;
  gap: 55px;
  align-items: center;
}
.dashboard-nav-item p {
  color: white;
  margin-top: 12px;
}
.figure {
  position: relative;
}
.icon {
  width: 50px;
  background-color: rgb(8, 78, 136);
  padding: 5px;
  height: 50px;
  border-radius: 50%;
}
.icon-hover {
  width: 50px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  height: 50px;
  border-radius: 50%;
  display: none;
  transition: all ease-in-out 0.8s;
}
.figure:hover .icon-hover {
  padding: 5px;
  height: 50px;
  border-radius: 50%;
  opacity: 1;
  display: inline;
}
.figure:hover .icon{
  display: none;
}
.dashboard-icon {
  background-color: rgb(8, 78, 136);
  padding: 15px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
}
.dashboard-icon:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(13, 214, 144);
  border-radius: 50%;
  padding: 15px;
  font-size: 20px;
}
.main-logo {
  position: absolute;
  padding: 15px;
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  bottom: -35px;
  left: 45px;
}
.main-logo img {
  width: 100%;
  border-radius: 50%;
}

/* ------------------------- Dashboard Content ------------------------- */
.dashboard-content {
  display: flex;
  height: calc(100vh - 365px);
}
.side-bar {
  width: 15%;
  margin-top: 50px;
  position: relative;
  float: left;
}
.side-bar-content {
  width: 85%;
  background-color: rgb(203, 236, 250);
  padding: 35px;
}
.responsive-toggle {
  display: none;
}
.side-bar-nav {
  margin-bottom: 10px;
  padding: 8px 5px;
}
.side-bar-active {
  background-color: cornflowerblue;
  margin-bottom: 10px;
  padding: 8px 5px;
}
.log-out {
  position: absolute;
  bottom: 10px;
  left: 70px;
  display: flex;
  align-items: center;
}
.log-out-icon {
  font-size: 20px;
}
.side-bar-content-body {
  padding: 10px;
  background-color: skyblue;
  height: 50vh;
}
.side-bar-content h3 {
  font-size: 25px;
}

.side-bar-content p {
  font-weight: 400;
  color: rgb(65, 63, 63);
}

/* ------------------------- Footer Section ------------------------- */
footer {
  background-color: rgb(5, 33, 62);
  text-align: center;
  padding: 12px 0;
}
.footer-text {
  color: rgb(173, 171, 171);
}
.footer-icon {
  color: white;
  font-size: 20px;
  margin-right: 5px;
}
